  <!-- ADVANCED SEARCH SIDEBAR -->
  <div>
    <nav class="bg-white sidebar-wrapper collapse navbar-collapse justify-content-between" id="sidebar-wrapper" data-toggle="collapse" aria-hidden="false">
      <div id="sidebar">
        <form id="sidebar-search" class=" form-inline navbar-nav ml-auto">
          <label id="sidebar-search-label" for="sidebar-search-input">search by</label>
          <input id="sidebar-search-input" class="form-control" type="search" placeholder="search" aria-label="Search" maxlength="23">
          <a href="#" id="sidebar-search-btn" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
          </a>
          <div id="sidebar-search-dropdown-wrapper" class="dropdown">
            <select id="sidebar-search-dropdown" class="form-select">
             <option class="dropdown-item sidebar-search-item" selected href="#">search by name</option>
             <option class="dropdown-item sidebar-search-item" href="#">search by tech</option>
             <option class="dropdown-item sidebar-search-item" href="#">search by exp</option>
             <option class="dropdown-item sidebar-search-item" href="#">search by location</option>
            </select>
          </div>
        </form>
      </div>
    </nav>
  </div> 