<main>
    <section id="transparent-page-wrapper">
        <div id="error-icon">
            <i class="fa-solid fa-circle-exclamation"></i>
        </div>
        <header>404</header>
        <header>page not found</header>
    </section>
</main>