<!-- MAIN -->
<main>
    <header id="account-title">account info</header>
    <section id="account-wrapper">
        <form id="account-form">
            <div class="form-group">
                <label id="account-email-label" for="account-email-input">email</label>
                <input type="email" class="form-control" id="account-email-input" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label id="account-password-label" for="account-password-input">password</label>
                <input type="password" class="form-control" id="signup-password-input">
            </div>
            <div class="text-center">
                <button id="account-save-button" type="submit" class="btn btn-primary">save changes</button>
            </div>
        </form>
    </section>
</main>

{{> footer}}