<main>
    <section id="home-header">
        <header id="home-title">your future code contributers!!</header>
        <p id="home-subtitle">
            find partners for your next coding project, ask for help from a pro, 
            or just connect with other developers to share ideas and resources
        </p>
    </section>

    <section id="view-profiles">
        {{#each profile as |profile| }}
            <div class="profile-card">
                <h3 class="profile-name">{{profile.name}}</h3>
                {{#if profile.picture is null}}
                    <img class="profile-image" src="./images/default.jpg" alt="profile image">
                {{else}}
                    <img class="profile-image" src="{{profile.picture}}" alt="profile image">
                {{/if}}
                <div class="profile-tech">{{profile.tech}}</div>
                <div class="profile-divider"></div>
                <div class="profile-links">
                </div>
            </div>
        {{/each}}
    </section>
</main>
