<main>
    <section id="transparent-page-wrapper">
        <div id="error-icon">
            <i class="fa-solid fa-circle-exclamation"></i>
        </div>
        <header>error</header>
        <header>this is not your profile</header>
    </section>
</main>