<!-- MAIN -->
<main>
    <header id="signup-title">sign up</header>
    <section id="signup-wrapper">
        <form class="signup-form" id="signup-step-1">
            <div class="form-group">
                <label id="signup-email-label" for="signup-email-input">email*</label>
                <input type="email" class="form-control" id="signup-email-input" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label id="signup-password-label" for="signup-password-input">password*</label>
                <input type="password" class="form-control" id="signup-password-input">
            </div>
            <div class="form-group">
                <label id="signup-confirm-password-label" for="signup-confirm-password-input">confirm password*</label>
                <input type="password" class="form-control" id="signup-confirm-password-input">
            </div>
            <div class="text-center">
                <button id="signup-next-button" type="submit" class="btn btn-primary">next</button>
            </div>
        </form>

        <form class="signup-form" id="signup-step-2">
            <div class="form-group">
                <label id="signup-name-label" for="signup-picture-input">display picture</label>
                <input type="file" class="form-control" id="signup-picture-input" aria-describedby="pictureHelp" accept=".jpg, .gif, .png">
            </div>
            <div class="form-group">
                <label id="signup-name-label" for="signup-name-input">name*</label>
                <input type="text" class="form-control" id="signup-name-input" aria-describedby="nameHelp">
            </div>
            <div class="form-group">
                <label id="signup-bio-label" for="signup-bio-input">bio</label>
                <textarea type="textarea" class="form-control" id="signup-bio-input" maxlength="280"></textarea>
            </div>
            <div class="form-group">
                <label id="signup-location-label" for="signup-location-input">location</label>
                <input type="text" class="form-control" id="signup-location-input">
            </div>
            <div class="form-group">
                <label id="signup-experience-label" for="signup-experience-input">experience*</label>
                <input type="text" class="form-control" id="signup-experience-input">
            </div>
            <div class="form-group">
                <label id="signup-tech-label" for="signup-tech-input">tech*</label>
                <input type="text" class="form-control" id="signup-tech-input">
            </div>
            <div class="form-group">
                <label id="signup-other-label" for="signup-other-input">other</label>
                <input type="text" class="form-control" id="signup-other-input">
            </div>
            <div class="form-group">
                <label id="signup-links-label" for="signup-links-input">links</label>
                <input type="text" class="form-control signup-links" id="signup-linkedin-input"
                placeholder="linkedin"
                >
                <input type="text" class="form-control signup-links" id="signup-github-input"
                placeholder="github"
                >
                <input type="text" class="form-control signup-links" id="signup-instagram-input"
                placeholder="instagram"
                >
                <input type="text" class="form-control signup-links" id="signup-twitter-input"
                placeholder="twitter"
                >
                <input type="text" class="form-control signup-links" id="signup-contact-email-input"
                placeholder="email"
                >
                <input type="text" class="form-control signup-links" id="signup-website-input"
                placeholder="website"
                >
            </div>
            <div class="text-center">
                <button id="signup-finish-button" type="submit" class="btn btn-primary">finish</button>
            </div>
        </form>
    </section>
</main>

{{> footer}}

<script src="./js/signup.js"></script>